{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joy Travel</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'Images/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'Css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Css/citySearch.css' %}">
</head>
<body>
    <div id="top"></div>
    <nav class="nav">
        <img src="{% static 'images/logoMain.png' %}" id="topLogo">
        <ul class="sidebar">
            <li onclick="hideSidebar()"><a href="#" onclick="event.preventDefault()"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
            <li><a href="{% url 'homePage' %}">Home</a></li>
            <li><a href ="{% url 'hotelsPage' %}">Hotels</a></li>
            <li><a href="{% url 'flightsPage' %}">Flights</a></li>
            <li><a href="{% url 'aboutPage' %}">About Us</a></li>
            <li><a href="{% url 'contactPage' %}">Contact</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
        </ul>

        <!-- Navbar -->

        <ul>
            <li class="hideOnMobile"><a href="{% url 'homePage' %}">Home</a></li>
            <li class="hideOnMobile"><a href ="{% url 'hotelsPage' %}">Hotels</a></li>
            <li class="hideOnMobile"><a href="{% url 'flightsPage' %}">Flights</a></li>
            <li class="hideOnMobile"><a href="{% url 'aboutPage' %}">About Us</a></li>
            <li class="hideOnMobile"><a href="{% url 'contactPage' %}">Contact</a></li>
            <li class="hideOnMobile"><a href="{% url 'logout' %}">Log Out</a></li>
            <li class="menuButton" onclick="showSidebar()"><a href="#" onclick="event.preventDefault()"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
        </ul>
    </nav>

    <div id="container">
        {% if citySearch %}
            {% if hotels %}
                <h1 id="searchResult">Available Hotels in {{citySearch}}</h1>
                <div>
                    <div class="row">
                        {% for hotel in hotels %}
                            <div class="col-md-4 mb-4 grid">
                                <div class="card text" id="card">
                                    <img id="hotelImage" src="{{ hotel.image.url }}" class="card-img-top" alt="...">
                                    <div class="card-body" id="cardText">
                                        <h5 id="hotelName" class="card-title">{{ hotel.name }}</h5>
                                        <p id="shortDescription" class="card-text">{{ hotel.short_description }}</p>
                                        <p id="price" class="card-text">Price: {{ hotel.price_per_night_adult }}€</p>
                                        <a href="{% url 'detailHotelPage' slug=hotel.slug %}" id="viewMoreButton" class="btn btn-primary">View Details</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>

    <footer class="footer">
        <div class="footerContainer">
            <div class="footerRow">
                <div class="footerCol">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="{% url 'homePage' %}">Home</a></li>
                        <li><a href="{% url 'aboutPage' %}">About Us</a></li>
                        <li><a href="{% url 'contactPage' %}">Contact</a></li>
                    </ul>
                </div>
                <div class="footerCol">
                    <h4>Our Services</h4>
                    <ul>
                        <li><a href ="{% url 'flightsPage' %}">Flights</a></li>
                        <li><a href ="{% url 'hotelsPage' %}">Hotels</a></li>
                    </ul>
                </div>
                <div class="footerCol">
                    <h4>Address</h4>
                    <ul>
                        <li><a href ="#" onclick="event.preventDefault();">Dominusoft</a></li>
                        <li><a href ="#" onclick="event.preventDefault();">Rruga Reshit Collaku</a></li>
                        <li><a href ="#" onclick="event.preventDefault();">dominusoft@gmail.com</a></li>
                        <li><a href ="#" onclick="event.preventDefault();">+355 00 00 00 000</a></li>
                    </ul>
                </div>
                <div class="footerCol">
                    <h4>Follow Us</h4>
                    <div class="socials">
                        <a href ="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href ="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a href ="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
                        <a href ="https://www.linkedin.com/feed/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'JS/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'JS/citySearch.js' %}"></script>

</body>
</html>